	<header>
		<%= image_tag("logo.png", :alt=>"RoRs Example Application", :class=>"round") %>
		<nav class="round">
			<ul>
				<li><%= link_to "Home", "#" %></li>
				<li><%= link_to "Support", "#" %></li>
				<li><%= link_to "Sign up!", "#" %></li>
			</ul>
		</nav>
	</header>